html, body{ 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map { height: 100%; }

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#content { width: 100%; }