html, body{ 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#sidebar{
    /* display: flex; */
    min-width: 350px;
    max-width: 350px;
    min-height: 100vh;
}

.dropdown{
    margin-left: 15%;
    padding: 10px;
}

.sidebar-header {
    margin-left: 2%;
    padding: 10px 10px 0px 10px;
}

.list-group li{
    padding: 25px 10px;
}

.list-group li:hover {
    background-color: grey; 
}

#navToggle {
    display: none;
}

#content { 
    width: 100%; 
    position: relative;
}

#map { height: 100%; }

@media only screen and (max-width : 700px) {
    #sidebar{
        min-width: 0px;
        max-width: 0px;
        min-height: 0vh;
        display: none;
    }

    #navToggle{
        position: absolute;
        display: inline;
        bottom: 0;
        z-index: 5;
    }

    #hideNavButton{ display: none;}

}